/******************Header*******************************/
/*********toggle******/
.load {
  background-color: #028bff;
}

/************Header******/
.page-header .glyphicon {
  color: #028bff;
}

/***********Nav********/
.navbar .container .navbar-nav > li a:before {
  border-bottom: 4px solid #028bff;
}
.navbar .container .Search {
  background-color: #028bff;
}

/******************Home*******************************/
/*******Colors*************/
.colorSetting .color {
  background-color: #028bff;
}
.colorSetting .color-palet {
  border: 1px solid #028bff;
}

/*********GoToTop**********/
.scrollup {
  background-color: #028bff;
}

/******Category*************/
.Category .Category-left .form button {
  border: 1px solid #028bff;
}
.Category .Category-left .form button a {
  color: #028bff;
}
.Category .filter {
  border: 1px solid #028bff;
  background-color: #028bff;
}
.Category .Category-right .Category-right-item .item-content .price {
  color: #028bff;
}
.Category .Category-right nav .pagination > li > a, .Category .Category-right nav .pagination > li > span {
  color: #028bff;
}
.Category .Category-right nav .pagination > .active > a,
.Category .Category-right nav .pagination > .active > a:focus,
.Category .Category-right nav .pagination > .active > a:hover,
.Category .Category-right nav .pagination > .active > span,
.Category .Category-right nav .pagination > .active > span:focus,
.Category .Category-right nav .pagination > .active > span:hover {
  background-color: #028bff;
  border-color: #028bff;
}

/******************Footer*******************************/
footer hr {
  background-color: #028bff;
}
footer li a:hover {
  color: #028bff;
}
footer .Small-Footer {
  background-color: #028bff;
}

/****************Product Details**********************/
.Details .container .item-content .price {
  color: #028bff;
}

.Details .container .item-content .Cart {
  border: 1px solid #028bff;
  background-color: #028bff;
}
